<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pintfinder">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CheckPubsActivity"></activity>
        <activity android:name=".AddOfferActivity" />
        <activity android:name=".OfferActivity" />
        <activity android:name=".ListOffersActivity" />
        <activity
            android:name=".ListBookingsActivity"
            android:label="Reservations" />
        <activity
            android:name=".CreateHoursActivity"
            android:label="Opening Hours" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile" />
        <activity android:name=".BookPubActivity" />
        <activity
            android:name=".UpdateMenuActivity"
            android:label="Pub Menu" />
        <activity
            android:name=".CreateMenuActivity"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name=".CreatePubActivity"
            android:label="Create New Pub" />
        <activity
            android:name=".HomePageOwner"
            android:label="@string/title_activity_home_page_owner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BeerDescriptionActivity" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".ListTastedBeersActivity"
            android:label="Your Tasted Beers" />
        <activity android:name=".AddBeerActivity" />
        <activity
            android:name=".SearchBeerFromDatabase"
            android:theme="@style/CustomActionBarTheme" />
        <activity android:name=".SignUpPubOwnerActivity" />
        <activity android:name=".SignUpPubLoverActivity" />
        <activity android:name=".PubActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePageLover"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuPubActivity"
            android:label="Pub Menu" />
        <activity
            android:name=".HelpLoverActivity"
            android:label="Help" />
        <activity
            android:name=".InfoActivity"
            android:label="Info" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
    </application>

</manifest>